@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.portfolio {
  .top-info {
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
    }

    .contact-info {
      justify-content: center;
      display: flex;
      margin-bottom: 0.1rem;
      color: $dark;
      @media screen and (min-width: 768px) {
        margin-right: 3rem;

        align-items: center;
      }

      i {
        margin-right: 0.5rem;
        color: $primary;
      }
      p {
        margin: 0;
      }
    }
    .social {
      i {
        color: $light;
        margin-right: 0.5rem;
        background: $primary;
        padding: 0.3rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: none;
          color: $primary;
          box-shadow: 0 1px 5px 1px $primary;
        }
      }
    }
  }
  nav {
    // background: $light;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    color: $dark;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 0.8rem $primary;
    z-index: 20;
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        background: $primary;
        color: $light;
        cursor: pointer;
        padding: 0.2rem;
        border-radius: 20%;

        &:hover {
          background: none;
          color: $primary;
          box-shadow: 0 10px 10px $primary;
        }
      }

      ul {
        li {
          a {
            color: $primary;
            cursor: pointer;
            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
  }
}

header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    height: 85vh;
  }

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .styled-title {
      font-family: "Poppins", sans-serif;
      color: $primary;
      font-weight: normal;
    }
    .text {
      width: 60%;
      color: $dark;
      overflow: visible;
      .btn-contact {
        display: flex;
        @media screen and (max-width: 768px) {
          justify-content: center;
        }
        .btn {
          font-size: 1.2rem;
          background: $primary;
          color: $light;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          p {
            margin: 0;
          }

          box-shadow: 0 0 1px $primary, 0 0 5px $primary, 0 0 10px $primary,
            0 0 0 $primary;
          -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

          &:hover {
            background: transparent;
            color: $primary;
            border: 2px solid $primary;
          }
        }
      }
      .arrow-down {
        margin: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $primary;

        @media screen and (max-width: 768px) {
          justify-content: center;
          margin-top: 0.5rem;
        }
        i {
          font-size: 2em;
          margin-right: 0.5rem;
          @media screen and (min-width: 768px) {
            font-size: 3em;
          }
          @media screen and (min-width: 992px) {
            font-size: 4em;
          }
        }
      }
      // @media screen and (max-width: 568px) {
      //   h1 {
      //     font-size: 1.2rem;
      //     span {
      //       font-size: 1.5rem;
      //     }
      //   }
      //   h4 {
      //     font-size: 1.2rem;
      //   }
      //   .btn-contact {
      //     .btn {
      //       font-size: 1.2rem;
      //     }
      //   }
      // }
      @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      h1 {
        font-weight: bold;
        font-size: 1.2rem;
        span {
          font-size: 2rem;
        }
      }
      h4 {
        font-size: 1rem;
      }

      @media screen and (min-width: 992px) {
        h1 {
          font-size: 3rem;
          span {
            font-size: 4rem;
          }
        }
        h4 {
          font-size: 1.5rem;
        }
        .btn-contact {
          .btn {
            font-size: 2rem;
          }
        }
      }
    }
    .picture {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 768px) {
        justify-content: center;
        order: -1;
        width: 100%;
      }

      img {
        width: 100%;
        max-width: 12rem;
        // object-fit: contain;

        // @media screen and (min-width: 568px) {
        //   max-width: 25rem;
        // }

        @media screen and (min-width: 768px) {
          max-width: 30rem;
        }
        @media screen and (min-width: 992px) {
          max-width: 35rem;
        }
      }
    }
  }
}

.about {
  background-image: url("../public/images/pp.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90vh;
  color: $primary;
  // &::after {
  //   background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  //   content: "";
  //   z-index: 10;
  // }

  .about-section {
    h1 {
      border-left: 2px solid $primary;
      padding-left: 1rem;
    }
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }

    .about-content {
      display: flex;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    // @media screen and (min-width: 992px) {
    //   h1 {
    //     font-size: 5rem;
    //   }
    // }
  }
}

// .services {
//   background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
//   height: 100vh;
// }
