@import "./variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

header {
  .top-info {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .contact-info {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      margin-bottom: 0.3rem;

      i {
        margin-right: 0.5rem;
      }
      p {
        margin: 0;
      }
    }
    .social {
      i {
        color: $light;
        margin-right: 0.5rem;
        background: $primary;
        padding: 0.2rem;
        border-radius: 50%;
      }
    }
  }
  nav {
    background: $primary;
    height: 3rem;
    .inner {
      // background: red;
    }
  }
  h1 {
    color: $primary;
  }

  .content {
    display: grid;
    place-items: center;
  }
}
